<h1><%= @project.title %></h1>

<%= link_to "My projects", projects_path %>

<hr>

<% @cards.each do |card| %>
  <div style="border:1px solid #ccc; padding:10px; margin-bottom:10px;">
    <h3><%= card.category %></h3>
    <p><%= card.content %></p>
  </div>
<% end %>

<div class="row">
  <div class="col">
    <%= @project.content %>
  </div>
  <div class="col-md-3">
    <h2>Chats</h2>
    <div class="mb-4">
      <% @project.chat.title %>
    </div>
  </div>
</div>

    <!-- ... -->

    <%= link_to "Open chat", chat_project_path(@project), class: "btn btn-primary"%>
  </div>
</div>
